<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>MediLocker Doctors</title>
</head>
<body>
    <div class="container">
        <div style="background-color: rgba(27, 34, 91); width: 400px;" id="banner-images">
            <a href="/html/home.html"><img class="mb-4" src="/resources/medilocker-footer.png" alt="" width="300" height="60" style="padding: 1%;  margin: 1%;"></a>
            <img src="/resources/doc-emma.png" alt="">
            <img src="/resources/doc-sarah.png" alt="">
        </div>
        <form>
            <h1 class="h3 mb-3 fw-normal" style="margin-top: -250px;">Our Doctors</h1>
            <table style="margin-top: -600px;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
                <% doctorsList.forEach((doctor) => { %>
                    <tr>
                        <td><%= doctor.firstName %></td>
                        <td><%= doctor.lastName %></td>
                        <td><%= doctor.email %></td>
                    </tr>
                 <% }); %> 
            </table>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
<style>
    * {
        font-family:'Poppins', Courier, monospace;
    }
    .container {
        border-radius: 20px;
        border-color: black;
        border-style: solid;  
        margin: 2%;
        margin-left: 250px;
        display: flex;
        padding: 5%;
        width: 1200px;
        height: 800px;
    }
    .container form {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        border-left-width: 0px;
        padding: 5%;
        border-color: black;
        border-style: solid;
        display: grid;
        width: 600px;
        align-items: center;
    }
    #banner-images {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-right-width: 0px;
        border-color: black;
        border-style: solid;
        padding: 4%;
    }
</style>